.feature {
  @extend %list;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.feature__item {
  max-width: 450px;

  @media screen and (max-width: $to-tablet) {
            margin-bottom: 30px;
  }
  
  @media screen and (min-width: $tablet) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: $desktop) {
    width: calc((100% - 8 * 15px) / 4);
  }
}

.feature__image-top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: $htird-bg-color;
}

.feature__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: $second-text-color;
  margin-top: 0;
  margin-bottom: 10px;

  @media screen and (max-width: $to-tablet) {
    text-align: center;
  }
}

.feature__text {
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 0;
}
