.page-header {
  
  border-bottom: 1px solid #ececec;
  
}

.page-header__mobile {
  @media screen and (max-width: $to-tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
  }
}

.page-header__nav {
  @media screen and (max-width: $to-tablet) {
outline: 1px solid red;

display: none;

&.is-open {
position: absolute;
  top: 0;
  left: 0;

  display: block;
  min-width: 767px;
 
  

  padding: 48px 40px;
  z-index: 2;

  background-color: $primary-bg-color;
}

  }
}

.site-nav {
  @extend %list;

  @media screen and (max-width: $to-tablet) {
    margin-bottom: 302px;
  }
  @media screen and (min-width: $tablet) {
    display: flex;
    margin-left: 88px;
  }
  @media screen and (min-width: $desktop) {
    margin-left: 93px;
  }
}

.site-nav__item {
  @media screen and (max-width: $to-tablet){
    margin-bottom: 32px;
  }

  @media screen and (min-width: $tablet) {
    margin-right: 50px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.site-nav__link {
  display: block;
  // margin-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $second-text-color;
  transition: color 250ms $transition-cubic;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @media screen and (max-width: $to-tablet) {
    font-size: 40px;
  }

  @media screen and (min-width: $tablet) {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;

    &--current::after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";
      display: block;
      width: 100%;
      height: 4px;

      background-color: $accent-color;
      border-radius: 2px;
    }
  }
}

.site-nav__link.site-nav__link--current {
  color: $accent-color;
}

.contactsmob-header {
  @extend %list;
  margin-bottom: 64px;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.social-header {
  @extend %list;
  display: inline-flex;
  align-items: center;

  

  @media screen and (min-width: $tablet) {
      display: none;
    }}

        .social-header__item:not(:first-child) {
          border-left: 1px solid rgba(33, 33, 33, 0.2);
        }

    .social-header__link {
      text-decoration: none;
      color: $accent-color;
      padding: 0 10px;


      
        }
    
   
    
    
          
        


.contacts-header {
  @extend %list;

  @media screen and (max-width: $to-tablet) {
    display: none;
  }
  @media screen and (min-width: $to-tablet) {
    margin-left: 84px;
    
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    margin-left: auto;
  }
}

.contacts-header__item {

  
    @media screen and (max-width: $to-tablet) {
      font-size: 24px;
      line-height: 1.16;

      .contacts-header__link--accent {
        display: block;
        font-size: 34px;
        line-height: 1.2;
        color: $accent-color;
        margin-bottom: 32px;
      }
    }

    @media screen and (min-width: $tablet) {
      font-size: 12px;
      margin-bottom: 10px;
  &:last-child {
      margin-bottom: 0;
    }
    }

    @media screen and (min-width: $desktop) {
      margin-right: 50px;
      
        &:last-child {
          margin-right: 0;
        }
    }
}

.contacts-header__link {

  font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $primary-text-color;
  
    transition: color 250ms $transition-cubic;
  
    &:hover,
    &:focus {
      color: $accent-color;
    }
  
    
 @media screen and (min-width: $tablet) {
  display: inline-flex;
  align-items: center;
}
  
@media screen and (min-width: $desktop) {
  padding-top: 32px;
  padding-bottom: 32px;
}

}

.contacts-header__icon {
  margin-right: 10px;
  fill: currentColor;
}
